:root {
    --primary-color: #e33023;
    --secondary-color: #23d6e3;


    --border-radius: 8px;
    --border-radius-lg: 20px;

    --text-white: whitesmoke;

    --text-black: #1C1C1E;

    --text-yellow: #FCA311;

    --text-muted: #686C75;

    --text-blue: #81afdd;

    --text-gradient: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

    --text-purple: rgba(144, 130, 236, 0.65);

    --mobile: 450px;
    --tablet: 800px;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}